* {
  margin: 0;
  margin-inline: 0;
  padding: 0;
  padding-inline: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

body {
  padding: 1rem 3rem;
}

header {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 640px) {
  body {
    padding: 1rem;
  }
}